<!DOCTYPE html>
<html>
<head>
    <title>Notes App</title>
</head>
<body>

    <h1>Flask Notes App</h1>

    <form method="GET">
        <input type="text" name="search" placeholder="Search notes">
        <button type="submit">Search</button>
    </form>

    <br>

    <a href="/add">Add New Note</a>

    <ul>
        {% for note in notes %}
            <li>
                {{ note }}

                <a href="/edit/{{ loop.index0 }}">Edit</a>

                <a href="/delete/{{ loop.index0 }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>